
.vs/ProjectSettings.json
*.sqlite
*.db
source/ExternalDLL/.vs/ExternalDLL2015/v16/.suo
source/ExternalDLL/.vs/ExternalDLL/v16/.suo
source/ExternalDLL/.vs/ExternalDLL2017/v16/.suo
*.opendb
*.ipch
*.filters
*.vcxproj
source/FaceRecognitionGUI/.vs/FaceRecognitionGUI/v16/.suo
*.lock
*.ide
*.filters
source/ExternalDLL/ExternalDLL/ExternalDLL2017.vcxproj.filters
*.vcxproj
source/ExternalDLL/ExternalDLL/ExternalDLL2017.vcxproj
